body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-image: url(./../images/252d67a42b8b48fc60d1c5d2c4ab9ec0.jpg);
  margin: 0;
  padding: 0;
  
}
.nav{
  display: flex;
  align-items: center;
  justify-content: align;
  /* padding: 20px; */
}
.header{
  text-align: center;
  color: white;
  text-decoration: underline;
}
.navlink{
  text-decoration: none;
  color: rgb(172, 224, 28);
  padding: 40px;
  text-align: center;
}

.container{
    background-image: url("./../images/flour4.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-align: center;

    /* text-align: center;     */
}

.start{
    font-size: xx-small;
    color: rgb(134, 130, 117);
}

.main{ 
    box-shadow: 0 25px 0 -23px #5CC7A8;
} 

.pizzamsg{
    position: absolute;
    left: 0;
    background-color: rgba(36, 35, 35, 0.6);
    top: 0;
    height: 40vh;
    width: 20vw;
}




.sec2{
    width: 60vw;
    text-align: center;

}

.ourpizzaimg{
    width: 200px;
    border-radius: 80%;
}

.lists{
    display: flex;
    justify-content: center;
    /* float: right; */
}

.pizza1{
    background: none;
}

.order{
    width: 60vw;
    margin-top: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.pizzas{
    width: 12vw;
    /* margin: auto; */
}

.navlink{
    /* text-decoration: none; */
    color: white;
}

.nav-item{
    padding: 5px;
}

.order-online{
    padding: 5px;
    /* background-color: rgb(96, 97, 26); */
    background-color: rgba(154, 205, 50, 0.4) ;
    border: 2px solid white;
    border-radius: 30%;
}

#orderonline{
    text-decoration: underline!important;
    /* color: rgb(189, 192, 24); */
    color: rgba(154, 205, 50, 0.8) ;
}

.selection{
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.btnorder, #okay{
    margin-top: 5px;
    background: rgba(154, 205, 50, 0.5) !important;
    /* background: rgb(96, 97, 26) !important; */
    color: white !important;
}

form h4{
    text-align: center;
    color: white;
}

form textarea{
    width: 60%;
    margin: auto;
@@ -137,6 +147,7 @@ footer{
    margin-top: 5px;
    font-family: 'Paprika', cursive !important;
}

/* form */                            <option value="7">crispy-thin</option>
                            <option value="8">extreme-cheese</option>
                            <option value="9">stuffed</option>

@@ -147,12 +158,10 @@ input, textarea{
}
div.inputs{
    display: flex; 
    justify-content: center; 

    justify-content: center;    
}
.textin{
    text-align: center;

    text-align: center;   
}
.sbmtbtn{
    text-align: center;
@@ -165,26 +174,28 @@ div.inputs{
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    /* justify-content: center; */
    color: white
    display: none;
    /* text-align: center; */
}

#checkout, #deliv, #chosenlocation, #addanother{
    display: none;
}

.fa, .contdetails a{
    color: rgb(96, 97, 26) !important;
    margin: 10px;
}

.contdetails a:hover{
    color: rgb(189, 192, 24) !important;
}

.navlink:hover{
    color: yellowgreen;
}


/* mediaquery */
@media only screen and (max-width: 767px){
    .ourpizza{
        display: flex;
        flex-direction: column;
    }
    .selection{
        width: 100%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    form{
        margin-top: 15px;
    }
    .pizzamsg{
        width: 100%;
    }
    .ph{
        font-size: smaller;
    }
}
@media only screen and (max-width: 424px){
    #size, #topping, #crust{
        font-size: smaller;
    }
}
@media only screen and (max-width:374px){
    .ph{
        font-size: x-small;
    }
.table{
        width: 100%;
        font-size: large;
        color: #ac3030;
        background-color: white;
    }
}
.color{

color: aliceblue;
}
.total{
  color: azure;
  visibility: visible;
}